# Данные
data/


# Jupyter Notebook
.ipynb_checkpoints/
raw_data_EDA.ipynb
dde_itmo.ipynb

# Папка src
src/

# Системные файлы macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env
venv/

# IDE
.vscode/
.idea/

# Логи
*.log

# Базы данных и пароли
creds.db
*.db
*.sqlite
*.sqlite3
config.ini
secrets.ini
create_env.py
