# Данные
data/
raw_data_EDA.ipynb/

# Jupyter Notebook
.ipynb_checkpoints/

# Системные файлы macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env
venv/

# IDE
.vscode/
.idea/

# Логи
*.log

# Базы данных и пароли
creds.db
*.db
*.sqlite
*.sqlite3
config.ini
secrets.ini